$icomoon-font-family: "ib" !default;
$icomoon-font-path: "~/assets/fonts/bjicon" !default;

$ib-acervo-b-color: "\e900";
$ib-acervo-n: "\e901";
$ib-acuerdos-b: "\e902";
$ib-acuerdos-color: "\e903";
$ib-adjuntar-archivo: "\e904";
$ib-borrador: "\e905";
$ib-externas-b: "\e906";
$ib-ordenamientos-b: "\e907";
$ib-ordenamientos-color: "\e908";
$ib-plataformadatosabiertos-color-path1: "\e909";
$ib-plataformadatosabiertos-color-path2: "\e90a";
$ib-plataformadatosabiertos-color-path3: "\e90b";
$ib-plataformadatosabiertos-color-path4: "\e90c";
$ib-plataformadatosabiertos-color-path5: "\e90d";
$ib-plataformadatosabiertos-color-path6: "\e90e";
$ib-sentencias-b: "\e90f";
$ib-sentencias-color-path1: "\e910";
$ib-sentencias-color-path2: "\e911";
$ib-sentencias-color-path3: "\e912";
$ib-sentencias-color-path4: "\e913";
$ib-sentencias-color-path5: "\e914";
$ib-sentencias-color-path6: "\e915";
$ib-sentencias-color-path7: "\e916";
$ib-sentencias-color-path8: "\e917";
$ib-sentencias-color-path9: "\e918";
$ib-sentencias-color-path10: "\e919";
$ib-sentencias-color-path11: "\e91a";
$ib-sentencias-color-path12: "\e91b";
$ib-sentencias-color-path13: "\e91c";
$ib-sentencias-color-path14: "\e91d";
$ib-sentencias-color-path15: "\e91e";
$ib-sentencias-color-path16: "\e91f";
$ib-sentencias-color-path17: "\e920";
$ib-tesauro-color-path1: "\e921";
$ib-tesauro-color-path2: "\e922";
$ib-tesauro-color-path3: "\e923";
$ib-tesauro-color-path4: "\e924";
$ib-tesauro-color-path5: "\e925";
$ib-tesauro-color-path6: "\e926";
$ib-tesauro-color-path7: "\e927";
$ib-tesauro-color-path8: "\e928";
$ib-tesis-b: "\e929";
$ib-tesis-color: "\e92a";
$ib-versiones-tac-b: "\e92b";
$ib-versiones-tac-color: "\e92c";
$ib-votos-b: "\e92d";
$ib-votos-color: "\e92e";

