@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@import './assets/styles/general';
@import './assets/styles/fonts';
@import './assets/styles/icons/bjicons/icons';
@import './assets/styles/icons/materialicons/maticon';
@import './assets/styles/icons/scjnicons/iconos-vdos-circulo';
@import './assets/styles/icons/scjnicons/iconos-vdos-cuadro';
@import './assets/styles/icons/scjnicons/iconos-vdos-rectangulo';
@import './assets/styles/icons/scjnicons/iconos-vdos';
@import './assets/styles/variables';
@import './assets/styles/core';
@import './assets/styles/animates';

@include mat-core();


.view-skeleton {
  position: relative;
  overflow: hidden;
  background-color: #e9ecef;
  border-radius: 4px;
}

.view-skeleton::after {
  //  backgroun version interna   
  //background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(36, 19, 95, 0.4), rgba(255, 255, 255, 0));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

.view-skeleton::after {
  content: "";
  animation: p-skeleton-animation 1.2s infinite;
  -o-animation: p-skeleton-animation 1.2s infinite;
  -moz-animation: p-skeleton-animation 1.2s infinite;
  -webkit-animation: p-skeleton-animation 1.2s infinite;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-100%);
  -o-transform: translate(-100%);
  -ms-transform: translate(-100%);
  -webkit-transform: translate(-100%);
  -moz-transform: translate(-100%);
  z-index: 1
}

.view-skeleton.view-skeleton-circle {
  border-radius: 50%
}

.view-skeleton-none::after {
  animation: none
}
